doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    |     
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    |     
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    |     
    link(rel="stylesheet", href="/bootstrap-3.3.7-dist/css/bootstrap.min.css")
    |     
    link(rel="stylesheet", href="/css/about.css")
    |     
    script(src="/js/jquery-3.2.1.js")
    |     
    script(src="/bootstrap-3.3.7-dist/js/bootstrap.min.js")
    |     
    title 关于我们
    |     
    style.
  body
    nav.navbar.navbar-default.navbar-fixed-top(style="border:none;")
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
            span.sr-only Toggle navigation
            |                         
            span.icon-bar
            |                         
            span.icon-bar
            |                         
            span.icon-bar
          |                 
          a.navbar-brand(href="#", style="padding:0;")
            img(src="/images/logo.png", alt="", style="height:50px;width:100px")
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href="/index")
                span.glyphicon.glyphicon-home
                |   首页
            |                     
            li
              a(href="/reg")
                span.glyphicon.glyphicon-th-list
                |   注册
            |                     
            li
              a(href="/login")
                span.glyphicon.glyphicon-fire
                |   登录
            |                     
            li.active
              a(href="/about")
                span.glyphicon.glyphicon-question-sign
                |  关于我们
       // /.navbar-collapse
      // /.container-fluid
    |     
    .container-fluid(style="background-color:#F5F5F5;")
      #pag.container
        .lf
          a.hellp-l.firstA(href="#Hellp1")
            b
            |                     
            p 关于我们
          |                 
          a.secondA(href="#AboutUs1")
            b
            |                     
            p 联系我们
          |                 
          a.thirdA(href="#CHelp1")
            b
            |                     
            p 帮助中心
        |             
        .rt
          #Hellp.action
            p.t
              | 关于我们
            |                     
            p.b2
              | 杰米分期是面向个人以及教育培训机构推出的普惠金融咨询服务，为学生以及学生家长、初级白领等年轻人提供信用借款咨询服务。我们的团队成员主要由工商银行、重庆大学、宜信等金融、教育培训、互联网资深人士组成。杰米分期通过互联网平台连接投资人与学生群体，可以根据培训机构的特点，结合学生的具体需求，量身定制不同的学费分期解决方案。同时辅助教育培训机构扩大招生、解决流动资金不足等难题。
              br
              br
              |                         
              b 杰米分期三大突破
              br
              |  1.产品定制化：杰米分期旨在帮助学生解决培训分期学费不足的难题，为学生提供无担保、无抵押的分期咨询服务，根据学生的不同需求设立了多样化的还款模式。
              |                         
              br
              |  2.学员无门槛：杰米分期通过建立风控模型，对学员进行风险定价。打破传统分期行业对年龄以及学历高要求的壁垒，让有提升需求的学员都有机会通过专业培训获得更强的职业竞争力，获取到精彩纷呈的学习体验。
              |                         
              br
              |  3.手续更便捷:学生通过杰米分期APP或网页只要填写简单的信息即可提交分期申请，杰米分期通过强大的后台系统自动对接各项数据源，经过数据智能分析后勾画学员信用网络，系统自动完成评级，T+0即可完成审批。摆脱繁琐的线下纸质合同审核流程。
              |                         
              br
              |                         
              br
              |                         
              b 杰米分期使命：
              | 助力人生第杰米，你的未来更辉煌！
              |                         
              br
              |                         
              br
              |                         
              b 杰米分期愿景：
              | 杰米分期致力于基于移动互联网和大数据风控努力成为一个专业、高效、便捷、的高品质教育培训分期咨询服务平台。凭借卓越的风控技术，构建开放共赢的培训分期领域金融生态链。未来，杰米分期仍然将继续服务于培训分期领域，应对更趋日新月异的挑战，积极践行社会责任，成为行业风向标！
        |             
        .rt2
          #AboutUs
            p.t 联系我们
            |                     
            ul.ul-left
              li
                b
                |                             
                span 客服电话
                |                             
                p
                  | 010-87389767
                  br
                  | (工作日9：00－18：00)
              |                         
              li
                b
                |                             
                span 公司地址
                |                             
                p
                  | 北京市东城区
                  br
                  | 东长安街1号东方广场W2办公楼501
              |                         
              li
                b
                |                             
                span 商务合作
                |                             
                p
                  | 商务合作电话：010-87389767
                  br
                  | 邮箱：bd@zhsoftbank.com
        |             
        .hellp-r
          .top-hellp
            | 帮助中心
          |                 
          .bottom-hellp
            ul.menu
              li
                a(href="javascript:void(0)")
                  | Q:杰米分期针对那些人群提供服务？
                  b
                |                             
                div(style="display: none;")
                  p
                    | A：杰米分期并非直接针对个人提供助学借款服务，对于已经和杰米分期合作的教育培训机构的学员，需要通过分期方
                    br
                    |       式参加培训的学员，是我们服务的对象，所以，如果您所在的机构还没有和北京杰米分期合作，欢迎拨打下方的院
                    br
                    |       校合作热线和我们联系。
              |                         
              li
                a(href="javascript:void(0)")
                  | Q:如何成为杰米分期的注册会员？
                  b
                |                             
                div
                  p A:在杰米分期网站选择【立即注册】并填写相关资料即可。
              |                         
              li
                a(href="javascript:void(0)")
                  | Q:注册时，进行手机验证，收不到短信怎么办？
                  b
                |                             
                div
                  p
                    | A：1：请确认手机是否安装短信拦截或过滤软件，如有，请暂时关闭；
                    br
                    |       2：请确认手机是否能够正常接收短信（信号问题、欠费、停机等）；
                    |                                     
                    br
                    |       3：短信收发过程中可能会存在延迟，请耐心等待，短信在30分钟内均有效；
                    |                                     
                    br
                    |       4：您还可以联系客服，寻求帮助（010-87389767）。
              |                         
              li
                a(href="javascript:void(0)")
                  | Q:我的借款会经历几个步骤？
                  b
                |                             
                div
                  p
                    | A：1：杰米分期注册会员，在网站（www.51jiuke.com）提交申请材料；
                    br
                    |       2：杰米分期对申请人的资质进行全方位评估；
                    |                                     
                    br
                    |       3：通过杰米分期审核，受申请人为委托向教育机构缴纳学费；
                    |                                     
                    br
                    |       4：申请人按月向杰米分期还款；
              |                         
              li
                a(href="javascript:void(0)")
                  | Q:可在平台注册两个账户吗？
                  b
                |                             
                div
                  p A：不可以，注册涉及实名认证，为了保障您的账户安全，一个实名信息只能注册一个账号。
              |                         
              li
                a(href="javascript:void(0)")
                  | Q:如何获取手机服务密码？
                  b
                |                             
                div
                  p A：您可联系手机运营商查询您的服务密码。
              |                         
              li
                a(href="javascript:void(0)")
                  | Q:服务密码认证失败怎么办，能否跳过？
                  b
                |                             
                div
                  p A：若遇到获取失败的情况，可去手机运营商营业厅或拨打手机运营商客服电话验证服务密码。
              |                         
              li
                a(href="javascript:void(0)")
                  | Q:申请成功后多久放款？
                  b
                |                             
                div
                  p A：申请人申请获批之后，通常当天即可完成放款
              |                         
              li
                a(href="javascript:void(0)")
                  | Q:如何放款？
                  b
                |                             
                div
                  p A：出借人按照合同约定和授权将出借款项打给培训机构，完成培训费用的付款。
              |                         
              li
                a(href="javascript:void(0)")
                  | Q:如何查看还款日期、每期还款金额？
                  b
                |                             
                div
                  p A：登录杰米分期网站，进入自己的账号，点击【我的还款计划】中，即可查看每期应还款；
              |                         
              li
                a(href="javascript:void(0)")
                  | Q:目前系统支持绑定哪些银行的银行卡？
                  b
                |                             
                div
                  p
                    | A：目前系统支持：中国工商银行，中国农业银行，中国建设银行，中国银行，中国邮政储蓄银行，招商银行，浦发银
                    br
                    |       行，中信银行，交通银行，广发银行，渤海银行，江苏银行，华夏银行，中国光大银行，广东农村信用社，平安银
                    br
                    |       行，上海农商银行，东亚银行，北京银行，中国民生银行，宁波银行，广州银行，晋中市商业银行，南京银行，顺
                    br
                    |       德农村信用社，成都银行，汉口银行，温州银行，尧都区农村信用合作联社，珠海农村信用社，共30家银行借记
                    br
                    |       卡，其他银行及非借记卡暂不支持。
              |                         
              li
                a(href="javascript:void(0)")
                  | Q:如何进行还款？
                  b
                |                             
                div
                  p
                    | A：1：借款人向自己所在的杰米分期平台账户进行充值；
                    br
                    |       2：充值完成后您可自行对还款计划中各期【待还款】进行还款；
                    |                                     
                    br
                    |       3：当账户余额不足时，不能完成还款，应先进行充值，然后点击还款；
              |                         
              li
                a(href="javascript:void(0)")
                  | Q:我会收到哪些形式的还款提醒？
                  b
                |                             
                div
                  p A：您会在每月还款日的前5天，前3天，前1天以短信的方式收到还款提醒
              |                         
              li
                a(href="javascript:void(0)")
                  | Q:是否可以提前一次性还款？如何操作？
                  b
                |                             
                div
                  p
                    | A：1：登陆杰米分期网站，在【我的还款计划】页面，点击【提前还款】进行提前还款测算；
                    br
                    |       2：对测算结果无异议时，按照提示金额，对账号充值，进行还款即可；
                    |                                     
                    br
                    |       3：还款成功后，会收到杰米分期发送的还款成功及合同结清短信。
              |                         
              li
                a(href="javascript:void(0)")
                  | Q:逾期会收取什么费用？
                  b
                |                             
                div
                  p
                    | A：逾期会产生相应的罚息和违约金，并产生不良信用记录，可能会造成无法购买车票、房屋等不良后果，情节严重可
                    br
                    |       能会被法院起诉并承担借款协议约定的相关责任。
              |                         
              li
                a(href="javascript:void(0)")
                  | Q:如何修改登录密码？
                  b
                |                             
                div
                  p A：登陆后，点击【账户设置】——【修改密码】页面，点击【修改密码】，重置登录密码
              |                         
              li
                a(href="javascript:void(0)")
                  | Q:如何找回登录密码？
                  b
                |                             
                div
                  p
                    | A：打开登录页面，点击【忘记密码】；跳转至【找回密码】页面，可以选择通过绑定手机号接收验证码以找回登录密
                    br
                    |       码。
              |                         
              li
                a(href="javascript:void(0)")
                  | Q:为什么要进行安全认证？
                  b
                |                             
                div
                  p
                    | A：为了保障用户资金的安全性和合同的有效性，杰米分期要求所有借款人必须通过身份证绑定、手机号绑定。安全认
                    br
                    |       证的过程简单便捷，杰米分期对于所有个人资料均作严格保密。
              |                         
              li
                a(href="javascript:void(0)")
                  | Q:如何修改绑定手机号？
                  b
                |                             
                div
                  p A：登录后，打开【账户设置】--【我的联系信息】页面，用户可以选择通过解绑原手机号进行修改。
              |                         
              li
                a(href="javascript:void(0)")
                  | Q:为什么我的申请会被拒绝？
                  b
                |                             
                div
                  p
                    | A：整个申请助学借款的过程，要保证自己所提交的资料真实，如果提交的资料有任意一处是虚假的，会直接被决绝。
                    br
                    |       如果被拒绝了，也不要慌张，如果是笔误填写错误，我们允许申请人发起复议，复议通过后，杰米会正常发放这笔
                    br
                    |       借款。
    |     
    .container-fluid.footer
      .footer_main
        p.first
          a(target="_blank", href="javascript:;", rel="nofollow") 投资者关系
          |  
          span.ff |
          |  
          a(target="_blank", href="javascript:;", rel="nofollow") 关于杰米
          |  
          span |
          |  
          a(target="_blank", href="javascript:;", rel="nofollow") 运营许可
          |  
          span |
          |                 
          a(target="_blank", href="javascript:;", rel="nofollow") 内容合作
          |  
          span |
          |  
          a(target="_blank", href="javascript:;", rel="nofollow") 联系我们
          |  
          span |
          |  
          a(target="_blank", href="javascript:;", rel="nofollow") 友情链接
          |  
          span |
          |                 
          a(target="_blank", href="javascript:;", rel="nofollow") 网友意见箱
          |  
          span |
          |                 
          a(target="_blank", href="javascript:;", rel="nofollow") 招聘英才
          |  
          span.ff |
          |  
          a(target="_blank", href="javascript:;", rel="nofollow") 用户体验计划
        |             
        p.c333
          | 不良信息举报电话：(0571)88933333 
          a.smarterwiki-linkify(href="javascript:;") 举报邮箱：jubao@myhexin.com
          |  增值电信业务经营许可证：B2-20079907
        |             
        p.c333
          | CopyrightHithink RoyalFlush Information Network Co.,Ltd. All rights reserved. 浙江核新同花顺网络信息股份有限公司版权所有
        |             
        p.c333
          | ICP证： 
          a(href="javascript:;", target="_blank") 浙ICP备09003598号
          |  证券投资咨询服务提供：浙江杰米贷有限公司 （中国证监会核发证书编号：ZX8520）
        |             
        div(style="width:300px;margin:0 auto; padding:20px 0;")
          div(style="float:left;padding:10px")
            a(style="text-decoration:none;height:20px;line-height:20px;", href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33011002011820", target="_blank")
              img(style="float:left;", src="http://i.thsi.cn/images/beian2016.png", alt="")
              |                         
              p(style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;") 浙公网安备 33011002011820号
          |                 
          div(style="float:left")
            a(target="_blank", href="http://idinfo.zjaic.gov.cn/bscx.do?method=hddoc&id=33000000008706")
              img(src="http://idinfo.zjaic.gov.cn/images/i_lo2.gif", style="float:right", alt="", width="40px", height="40px", border="0")
    |     
    script.
      $(function() {
      $('#pag>.lf>a').on('click', function() {
      $(this).addClass('hellp-l');
      $(this).siblings().removeClass('hellp-l');
      if ($('.firstA').hasClass('hellp-l')) {
      $('.rt').css('display', 'block');
      $('.rt2').css('display', 'none');
      $('.hellp-r').css('display', 'none');
      } else if ($('.secondA').hasClass('hellp-l')) {
      $('.rt').css('display', 'none');
      $('.rt2').css('display', 'block');
      $('.hellp-r').css('display', 'none');
      } else if ($('.thirdA').hasClass('hellp-l')) {
      $('.rt').css('display', 'none');
      $('.rt2').css('display', 'none');
      $('.hellp-r').css('display', 'block');
      }
      });
      $('.menu>li>a').on('click', function() {
      $(this).children().toggleClass('b1');
      $(this).siblings().toggleClass('show');
      })
      })
